source .venv/bin/activate
export JAX_ENABLE_X64=True
export XLA_FLAGS="--xla_gpu_autotune_level=0 --xla_gpu_enable_host_memory_offloading --xla_gpu_copy_insertion_use_region_analysis --xla_gpu_threshold_for_windowed_einsum_mib=4000 --xla_gpu_memory_limit_slop_factor=50"


